@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/static/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/static/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/static/Montserrat-Black.ttf);
    font-weight: 900;
}

:root {
    --blue: rgba(0, 0, 255, 1);
    --text-dark: rgba(24, 24, 24, 1);
    --text-gray: rgba(157, 157, 157, 1);
    --border-light: rgba(232, 232, 232, 1);
}


.promogroup {
    max-width: 1577px;
    margin: auto;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: Monserrat;
    font-weight: 700;

}

header {
    grid-column-start: 2;
    grid-column-end: 4;
}

main {
    grid-column: 2/12;

}

footer {
    grid-column-start: 2;
}

.hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 120px;
}

.hero-title {
    grid-column: 1/5;
    grid-row: 1/4;
}

.hero-content {
    grid-column: 1/4;
    grid-row: 4/6;
}

.hero-btn {
    grid-column: 1/3;
    grid-row: 6/7;
}

.hero h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: lighter;
    color: var(--text-dark);
}

.hero p,
.hero button {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0 auto;
}

.hero button {
    max-width: 309px;
    padding: 14px 70px;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: start;
    text-align: center;

}

.score h1 {
    position: relative;
    font-size: 80px;
    font-weight: 800;
    color: var(--blue);
    margin-bottom: 0;
    line-height: 1;
}

.score .unit {
    position: absolute;
    top: 0;
    right: -28px;
    font-size: 21px;
    font-weight: 600;
}

.score p {
    margin-top: 0;
    font-size: 18px;
}

.team-section h1 {
    font-family: Monserrat;
    font-size: 80px;
    font-weight: 900;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 20px;

}

.team-grid .team-item:nth-child(1) {
    grid-column: 1 / 8;
    grid-row: 1 / 8;
}

.team-grid .team-item:nth-child(2) {
    grid-column: 8 / 18;
    grid-row: 1 / 8;
}

.team-grid .team-item:nth-child(3) {
    grid-column: 18 / 25;
    grid-row: 1 / 11;
}

.team-grid .team-item:nth-child(4) {
    grid-column: 1/18;
    grid-row: 8/19;
}

.team-grid .team-item:nth-child(5) {
    grid-column: 18/25;
    grid-row: 11/19;
}

.team-grid .team-item:nth-child(6) {
    grid-column: 1/8;
    grid-row: 19/28;
}

.team-grid .team-item:nth-child(7) {
    grid-column: 8/25;
    grid-row: 19/28;
}

.team-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
}

.form-title {
    font-family: Monserrat;
    font-weight: 900;
    font-size: 30px;
    grid-column: 1/8;
    grid-row: 1/3;
}

.client-form {
    grid-column: 1/6;
    grid-row: 3/11;
}

form input {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    color: var(--text-gray);
    font-family: Monserrat;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid var(--border-light);
}

form p {
    width: 100%;
    font-family: Monserrat;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

form a {
    font-family: Monserrat;
    font-weight: 700;
    color: var(--blue);

}

form a:visited {
    color: var(--blue);
}

form button {
    max-width: 270px;
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 24px 40px;
    margin: 50px 0;
    font-family: Monserrat;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
}

footer {
    grid-column: 1/-1;
    border-top: 2px solid var(--border-light);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
}

.footer-logo {
    grid-column: 1/3;
    color: rgba(206, 206, 206, 1);
}

.social-media {
    grid-column: 3/9;
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}

.social-media a {
    color: var(--text-gray);
    text-decoration: none;
}


.telephone {
    grid-column: 9/10;
    color: var(--text-dark);
}